.img_firts{
    width: 90%;
    height: auto;
}

.img_second{
    width: 90%;
    height: auto;
}

.img_podio{
    width: 90%;
    height: auto;
}

.ranking {
    border-collapse: collapse;
    width: 100%;
}

.ranking td, .ranking th {
    border: 1px solid #ddd;
    font-size: 0.8em;
    width: 10%;   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px; 
    text-align: center;   
}

.ranking tr:nth-child(even){background-color: #f2f2f2;}

.ranking th {
    text-align: center;
    background-color:#5863f8;
    color: white;
    text-align: center !important; 
    border: 1px solid #ddd;
}

.ranking th:first-child {
    width: 60%;
    font-weight: bold;
}

.ranking td:first-child {
    width: 60%;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
}

.ranking font{
    font-weight: bold;
    font-size: 1.0em;    
}



